#initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue
}

.clickable:hover {
  text-decoration: underline;
}

.btn-pink {
    margin: 0 auto;
    display: block;
}

.btn-blue {
    margin: 0 auto;
    display: block;
}

.blue-background {
  background-color: blue;
}

.pink-background {
  background-color: pink;
}
