#initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue
}

.clickable:hover {
  text-decoration: underline;
}

.btn-left {
    margin: 0 auto;
    display: block;
}

.btn-right {
    margin: 0 auto;
    display: block;
}
